doctype html
html(lang="en")
  head
    link(href='/main.css', rel='stylesheet')
  body
    a(href='/')
      h1 Exact Change Only
    ul
      li
        a(href=about_me().url)
          | about_me
      li
        a(href=resume_html().url)
          | resume.html
      li
        a(href=resume_md().url)
          | resume.md
      li
        a(href=resume_pdf().url)
          | resume.pdf
      each blog in blogs()
        li
          a(href=blog.url)
            = blog.markdown.meta.title
    block content
    div!= self.content

